.bottom_of_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: #aab0bb;
    font-size: 12px;
  }
  :nth-child(2) {
    width: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: white;
    }
  }
}
