.bottom_of_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: #aab0bb;
    font-size: 12px;
  }
  :nth-child(2) {
    width: 112px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: white;
    }
  }
}
.validtation_message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-right: 7px;
  .valid {
    color: green;
  }
  .invalid {
    color: red;
  }
}
