@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/Input/input.scss';
@import '../components/AuthBtn/authBtn.scss';
@import '../components/SubmitForm/submitForm.scss';
@import '../components/ElasticTab/elastictab.scss';
@font-face {
  font-family: 'iran-yekan-farsi';
  src: url('../public/font/iranYekanBoldFN.ttf');
  font-weight: 700;
  font-display: fallback;
}
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'iran-yekan-farsi', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
